    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Our Mission</h2>
<center> <iframe width="672" height="378" src="https://www.youtube.com/embed/PSJxSMuEUcM" frameborder="0" allowfullscreen></iframe> </center> <br> 
            
            <p class="intro text-center">Our Berkeley Student chapter has one simple goal: to make the life of a Berkeley Chemical Engineer better. Want to know who the best professors are, how to find an internship, or what student organizations you can join? AIChE can help. No matter what your interests are, AIChE provides the resources you need to succeed as a chemical engineer at Berkeley.

We are a student group acting independently of the University of California. We take full responsibility for our organization and this Web site</p>

            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Info-sessions</h3>
                        <p>We host info-sessions with companies like Dow, Chevron, Exxon Mobil, Valero, Genencor, Clorox, Proctor and Gamble, LifeTechnologies . . . just to name a few. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Mentorship Program</h3>
                        <p>Join an AIChE "family", where you can develop personal and professional relationships with other AIChE members from all four years!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-smile-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Social Events</h3>
                        <p>Tired of struggling over problem sets? Take a break, and come out to the AIChE social events (hosted every other week). You can hang out with the coolest engineers on campus and have fun too!</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Research Opportunities!</h3>
                        <p>We colaborate with College of Chemistry Graduate students, who are seeking capable and personable undergraduates to conduct research. </p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-mortar-board"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Professional Development</h3>
                        <p>We hold multiple workshops to help you finetune your resume, ace interviews, and land jobs!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Outstanding Chapter</h3>
                        <p>Our chapter has been recognized as the Outstanding American Institute of Chemical Engineers Student Chapter of the 2014 - 2015 year!</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
