    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2> 

                <p class="intro  text-center"> aiche.berkeley@gmail.com    <a href="mailto: aiche.berkeley@gmail.com"><i class="fa fa-envelope"></i></a><br><br> 
                    The AIChE Office is located in B46 Hildebrand Hall. <br/>Drop-by if you need something from us!</p>
                <div class="author-message">                      
                    <div class="profile">
                      <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Special Thanks to our Sponsors!</h3>
                        <h3 class="sub-title text-center">Platinum</h3> 
                <p> 
                    <center> 
                        <a href="http://www.dow.com/"><img class="alignnone size-full wp-image-99" alt="dow" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/dow.png" width="70" height="70" /></a> 
                        <a href="http://www.bp.com/"><img class="alignnone size-full wp-image-94" alt="bp" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/bp.png" width="70" height="70" /></a> 
                        <a href="http://www.chevron.com/"><img class="alignnone size-full wp-image-96" alt="chev" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/chervon.png" width="70" height="70" /></a>
                    </center>
                </p>
                <h3 class="sub-title text-center">Honorable</h3>
                <p> 
                    <center>
                        <a href="http://www.abbott.com/"><img class="alignnone size-full wp-image-93" alt="abbott" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/Abbott.png" width="70" height="70" /></a>    
                        <a href="http://www.trisep.com/"><img class="alignnone size-full wp-image-106" alt="trisep" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/TriSepLogo.png" width="75" height="70" /></a><a href="http://biosciences.dupont.com/"><img class="alignnone size-full wp-image-101" alt="gene" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/DuPont-Logo.png" width="70" height="70" /></a> 
                        <a href="http://www.gene.com/"><img class="alignnone size-full wp-image-102" alt="genen" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/Genentech.png" width="70" height="70" /></a> <br>
                        <a href="http://corporate.exxonmobil.com/"><img class="alignnone size-full wp-image"70" alt="exxon" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/ExxonMobil3.png" width="70" height="70" /></a> 
                        <a href="http://www.pg.com/en_US/index.shtml"><img class="alignnone size-full wp-image-105" alt="pg" src="https://raw.githubusercontent.com/berkeleyAiChE/berkeleyAiChE.github.io/master/sponsors/10-pg.gif" width="70" height="70" /></a>
                    
                    <h3 class="sub-title">Interested in becoming a sponsor? </h3> <a class="btn btn-cta-primary" href="https://docs.google.com/forms/d/1_tQE0Skx10S_d6pNLTkzydCLVxaDYZZuCvQ1gyVaS3o/viewform" target="_blank">Sponsorship Form</a>    <a class="btn btn-cta-secondary" href="https://drive.google.com/file/d/0B26NrOWmTgz-aW5NdW41a09sT0U/view?usp=sharing">Sponsorship Letter</a> <br> <br> </center>

                </p>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://www.facebook.com/groups/calaiche/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://instagram.com/aiche_ucberkeley"><i class="fa fa-instagram"></i></a></li>  
                        <li class="last"><a href="mailto: aiche.berkeley@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
