    <!-- ******DOCS****** --> 

<!DOCTYPE html>
<html>
<head>
<style> 
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 2px solid lightblue;
}
</style>
</head>
<body>

</body>
</html>
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Events and Opportunities</h2>            
            <div class="block">
                
                <div class="btns"> <center>
                		<div class="newspaper"> <br> 
                            <h3 class="title text-center"> Lunch with Professors </h3>
                            <a class="btn btn-cta-secondary" href="https://docs.google.com/a/berkeley.edu/forms/d/196r0ORuDKKAD_vs-7w8dS9iDx_tj_C3smOaAuLFamAE/viewform" target="_blank"> Sign Up For Lunch with Professors</a> <br> <br> <br>
                            Interested in building a stronger connection with a professor in a more intimate and casual setting? Participate in the Lunch with Professors Program! Join your professor of choice for lunch at the Faculty Club. Please direct questions to <a href="mailto: njin@berkeley.edu"> Nathan Jin </a>
                        </div>
                        <br> <br> 
                        <div class="newspaper"> 
                        <h3 class="title text-center"> Full Time Opportunity: Staff Engineer </h3> <a class="btn btn-cta-primary" href="https://github.com/berkeleyAiChE/berkeleyAiChE.github.io/raw/master/public/event_promos/Staff%20Engineer.pdf"> More Information </a> <br> 
                        Davenport Engineering Inc. is looking for UC Berkeley AIChE members for a full time staff engineer position! They have requested that those who apply indicate “AIChE Berkeley Applicant” on the subject line of your application email, so they can keep an eye out. Best of luck! <br> 
                         </center> 
                    </div> 
                    <br> 
                    <div class="newspaper"> <br>
                        <h3 class="title text-center"> Undergraduate Research Opportunity </h3> <br> 
                        If you are an undergraduate student interested in research, you can submit your resume for consideration to <b> uc.cheme.gsac+ugradresearch [at] gmail.com </b> <br> 
                         </center> 
                    </div> 
					
            </div>
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
