    <!-- ******DOCS****** --> 

<!DOCTYPE html>
<html>
<head>
<style> 
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
}
</style>
</head>
<body>

</body>
</html>
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Opportunities</h2>            
            <div class="block">
                <div class="btns"> <center>
                		<div class="newspaper"> <br> <br> 
                            <a class="btn btn-cta-secondary" href="https://docs.google.com/a/berkeley.edu/forms/d/196r0ORuDKKAD_vs-7w8dS9iDx_tj_C3smOaAuLFamAE/viewform" target="_blank"> Sign Up For Lunch with Professors</a> <br> <br> <br>
                            Interested in building a stronger connection with a professor in a more intimate and casual setting? Participate in the <b>Lunch with Professors Program!</b> Lunch at the Faculty Club is completely covered for the participating students. <br> Please direct questions to <a href="mailto: njin@berkeley.edu"> Nathan Jin </a>
                        </div>
                        <br> <br> 
                        <h3 class="title text-center"> Full Time Opportunity: Staff Engineer </h3> <br> 
                        <a class="btn btn-cta-primary" href="https://github.com/berkeleyAiChE/berkeleyAiChE.github.io/raw/93d886a321098da83e2f314a98d078de25f0157a/_site/public/event_promos/Staff%20Engineer.pdf"> More Information </a> </center> 
					
            </div>
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
