    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Opportunities</h2>            
            <div class="block">
                <div style="display:inline-block;vertical-align:center;">
                <div class="btns"> <center>
                		Interested in building a stronger connection with a professor in a more intimate and casual setting? Participate in the Lunch with Professors Program! Lunch at the Faculty Club is completely covered for the participating students by the American Institute of Chemical Engineers. Please direct questions to njin@berkeley.edu

					<a class="btn btn-cta-secondary" href="https://docs.google.com/a/berkeley.edu/forms/d/196r0ORuDKKAD_vs-7w8dS9iDx_tj_C3smOaAuLFamAE/viewform" target="_blank"> Sign Up For Lunch with Professors</a></div> 
            </div>
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
