<!-- ******OFFICER LIST****** --> 
<section id="features" class="features section">
<div class="container text">
<h2 class="title"><center>Officers</center></h2>
            
<!-- President --> 
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/president.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 60px">
        <div><h4 class="title">President</h4></div>
        <div>Rahul Batra</div>
        <div>batra [AT] berkeley.edu</div>
    </div>
<!-- Vice President -->        
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/vice_president_2.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 15px">
        <div><h4 class="title">Vice President</h4></div>
        <div>Alex Chang</div>
        <div>yuhaochang2012 [AT] berkeley.edu</div>
    </div> 
<!-- Vice President -->   
    <div style="display:inline-block;vertical-align:top;horizontal-align:right;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/vice_president_1.png">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Vice President</h4></div>
        <div>Stan Reeder</div>
        <div>wreeder [AT] berkeley.edu</div>
    </div>  
<br><br><br>
<!-- Secretary  --> 
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/secretary.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 60px">
        <div><h4 class="title">Secretary</h4></div>
        <div>Ravi Suba</div>
        <div>rsuba [AT] berkeley.edu</a></div>
    </div>
<!-- Treasurer -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/treasurer.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 15px">
        <div><h4 class="title">Treasurer</h4></div>
        <div>Aaron Shwartz</div>
        <div>aaronschwartz77 [AT] berkeley.edu</div>
    </div> 
<!-- Activities Coordinator -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/activities_1.png">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Activity Coordinator</h4></div>
        <div>Lisa Yang</div>
        <div>lisa.yang [AT] berkeley.edu</div>
    </div>
<br><br><br>
<!-- Webmaster -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/webmaster.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 70px">
        <div><h4 class="title">Webmaster</h4></div>
        <div>Kadie Jaffe</div>
        <div>kadie [AT] berkeley.edu</div>
    </div>
<!-- Mentor-Mentee -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/mentor.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 8px">
        <div><h4 class="title">Mentor-Mentee Coordinator</h4></div>
        <div>Fares Maimani</div>
        <div>F.maimani [AT] berkeley.edu</div>
    
    </div> 
<!-- Activities Coordinator -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/activities_2.png">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Activity Coordinator</h4></div>
        <div>Ria Someshwar</div>
        <div>rasomeshwar [AT] berkeley.edu</div>
    </div>
<br><br><br>
<!-- Student - Faculty Liasion -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/faculty.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 20px">
        <div><h4 class="title">Student-Faculty Liaison</h4></div>
        <div>Nathan Jin</div>
        <div>njin [AT] berkeley.edu</div>
    </div> 
<!-- Publicity-->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/publicity.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 70px">
        <div><h4 class="title">Publicity</h4></div>
        <div>Tiffany Lay</div>
        <div>tiffanylay [AT] berkeley.edu</div>
    </div>
<!-- Historian -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/historian.png">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Historian</h4></div>
        <div>Andrew Wang</div>
        <div>wang.andrew [AT] berkeley.edu</div>
    </div>
<br><br><br>
<!-- Senior Advisor -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/senior_1.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 20px;">
        <div><h4 class="title">Senior Advisor</h4></div>
        <div>Jay Yostanto</div>
        <div>jayyostanto [AT] berkeley.edu</div>
    </div> 
<!-- Senior Advisor -->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/senior_2.png">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 65px">
        <div><h4 class="title">Senior Advisor</h4></div>
        <div>Sonal Rangnekar</div>
        <div>srangnekar [AT] berkeley.edu</div>
    </div>
<!-- EXTRA-->   
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Activity Coordinator</h4></div>
        <div>Maya G.</div>
        <div>mayag [AT] berkeley.edu</div>
    </div>
    <br>

</div><!--//container-->
</section><!--//features-->
