    <!-- ******FEATURES****** --> 


    <section id="features" class="features section">
        <div class="container text">
            <h2 class="title"><center>Officers</center></h2>
            

            <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 80px">
    <div><h3 class="sub-title">Mentorship</h3></div>
    <div>Rahul Batra</div>
    <div>batra@berkeley.edu     </div>
</div>
        
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 75px">
    <div>Vice President</div>
    <div>Alex Chang</div>
    <div>yuhaochang2012@berkeley.edu</div>
</div> 
<div style="display:inline-block;vertical-align:top;horizontal-align:right;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;">
    <div>Vice President</div>
    <div>Stan Reeder</div>
    <div>wreeder@berkeley.edu</div>
</div>
<br><br>
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 80px">
    <div>Secretary</div>
    <div>Ravi Suba</div>
    <div>rsuba@berkeley.edu</div>
</div>

<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 75px">
    <div>Treasurer</div>
    <div>Aaron Shwartz</div>
    <div>aaronschwartz77@berkeley.edu</div>
</div> 


    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;">
    <div>Activity Coordinator</div>
    <div>Lisa Yang</div>
    <div>lisa.yang@berkeley.edu</div>
</div>
    <br><br>
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 80px">
    <div>Webmaster </div>
    <div>Kadie Jaffe</div>
    <div>kadie@berkeley.edu</div>
</div>

<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 95px">
    <div>Mentor-Mentee Coordinator</div>
    <div>Fares Maimani</div>
    <div>F.maimani@berkeley.edu</div>
    
</div> 
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;">
    <div>Activity Coordinator</div>
    <div>Ria Someshwar</div>
    <div>rasomeshwar@berkeley.edu</div>
</div>
<br><br>
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 60px">
    <div>Student-Faculty Liaison</div>
    <div>Nathan Jin</div>
    <div>njin@berkeley.edu</div>
</div> 

<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 125px">
    <div>Publicity</div>
    <div>Tiffany Lay</div>
    <div>tiffanylay@berkeley.edu</div>
</div>
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;">
    <div>Historian</div>
    <div>Andrew Wang</div>
    <div>wang.andrew@berkeley.edu</div>
</div>
    <br><br>


<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 475px;">
    <div>Senior Advisor</div>
    <div>Jay Yostanto</div>
    <div>jayyostanto@berkeley.edu</div>
</div> 
<div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive" src="{{ site.baseurl }}public/images/profile.png">
</div>
<div style="display:inline-block;PADDING-RIGHT: 0px">
    <div>Senior Advisor</div>
    <div>Sonal Rangnekar</div>
    <div>srangnekar@berkeley.edu</div>
</div>
<br>


        </div><!--//container-->
    </section><!--//features-->
