<!-- ******OFFICER LIST****** --> 
<section id="features" class="features section">
<div class="container text">
<h2 class="title"><center>Officers</center></h2>
            
<!-- President --> 
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/StanleyReeder.png" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 90px">
        <div><h4 class="title">President</h4></div>
        <div>Stanley Reeder</div>
        <div>wreeder@berkeley.edu</div>
    </div>
<!-- Executive Vice President -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/RiaSomeshwar.png" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 45px">
        <div><h4 class="title">Executive Vice President</h4></div>
        <div>Ria Someshwar</div>
        <div>rasomeshwar@berkeley.edu</div>
    </div>
<!-- VP of Finance -->
    <div style="display:inline-block;vertical-align:top;horizontal-align:right;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/IvanJayapurna.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">VP of Finance</h4></div>
        <div>Ivan Jayapurna</div>
        <div>ivanfj@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Corporate Chair  -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/AlexanderErickson.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 17px">
        <div><h4 class="title">Corporate Chair</h4></div>
        <div>Alexander Erickson</div>
        <div>alexander.erickson@berkeley.edu</a></div>
    </div>
<!-- Corporate Chair -->
    <div style=display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/VincentWu.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 95px">
        <div><h4 class="title">Corporate Chair</h4></div>
        <div>Vincent Wu</div>
        <div>vincent.wu@berkeley.edu</div>
    </div>
<!-- VP of Communications -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/NoahTseng.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">VP of Communications</h4></div>
        <div>Noah Tseng</div>
        <div>noahtseng@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Social Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/SanyaSehgal.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 61px">
        <div><h4 class="title">Social Chair</h4></div>
        <div>Sanya Sehgal</div>
        <div>sanya.sehgal@berkeley.edu</div>
    </div>
<!-- Media Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/AaronSteger.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 83px">
        <div><h4 class="title">Media Chair</h4></div>
        <div>Aaron Steger</div>
        <div>aaron.steger@berkeley.edu</div>

    </div>
<!-- Outreach Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/AbiramiMurugappan.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Outreach Chair</h4></div>
        <div>Abirami Murugappan</div>
        <div>abiramim@berkeley.edu</div>
    </div>
<br><br><br>
<!-- Social Chair -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/RachelJang.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 52px">
        <div><h4 class="title">Social Chair</h4></div>
        <div>Rachel Jang</div>
        <div>rachelseojang@berkeley.edu</div>
    </div>
<!-- Media Chair-->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/JeremyLan.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;PADDING-RIGHT: 98px">
        <div><h4 class="title">Media Chair</h4></div>
        <div>Jeremy Lan</div>
        <div>jeremy.lan@berkeley.edu</div>
    </div>
<!-- Outreach -->
    <div style="display:inline-block;vertical-align:top;">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/MuraliSubramanian.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Outreach Chair</h4></div>
        <div>Murali Subramanian</div>
        <div>mu.subr@berkeley.edu</div>
    </div>
<br><br><br>
    <!-- Placeholder -->
    <div style="visibility: hidden;display:inline-block;vertical-align:top;float:center">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/RachelJang.jpg" style="width:130px;height:130px;">
    </div>
    <div style="visibility: hidden;display:inline-block;text-align:center;PADDING-RIGHT: 52px">
        <div><h4 class="title">Outreach Chair</h4></div>
        <div>Rachel Jang</div>
        <div>rachelseojang@berkeley.edu</div>
    </div>
    <!-- Senior Advisor -->
    <div style="display:inline-block;vertical-align:top;float:center">
    <img class="img-responsive img-circle" src="{{ site.baseurl }}public/images/Officers16-17/FaresMaimani.jpg" style="width:130px;height:130px;">
    </div>
    <div style="display:inline-block;">
        <div><h4 class="title">Senior Advisor</h4></div>
        <div>Fares Maimani</div>
        <div>F.maimani@berkeley.edu</div>
    </div>

</div><!--//container-->
</section><!--//features-->
