    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Events Calendar</h2>
                <div class="info">
                    <p><center><iframe style="border:50;" src="http://www.google.com/calendar/embed?src=f0gaojnevf3grj7ktepq3jpcb4%40group.calendar.google.com&amp;ctz=America/Los_Angeles" width="750" height="750" frameborder="0" scrolling="no"></iframe></center></p>
                </div><!--//info-->
                                  
                        
                    </div><!--//btn-container-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
