

<!-- ******FACEBOOK JAVASCRIPT SDK****** -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ******END FACEBOOK JAVASCRIPT SDK****** -->

    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
      
        <div class="newspaper">
          <div class="license-inner">
          <p>

          <h2 class="title text-center">Facebook Feed</h2><br> <center>
            <div class="fb-page" data-href="https://www.facebook.com/berkeley.aiche/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true">
              <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/berkeley.aiche/"><a href="https://www.facebook.com/berkeley.aiche/">AIChE UC Berkeley Student Chapter</a></blockquote>
              </div>
              </div>
              </p><br>
                <p><br>
                    <h2 class="title text-center">Google Calendar</h2> <br>
                    <iframe style="border:50;" src="http://www.google.com/calendar/embed?src=f0gaojnevf3grj7ktepq3jpcb4%40group.calendar.google.com&amp;ctz=America/Los_Angeles" width="500" height="500" frameborder="0" scrolling="yes"></iframe></center></p>
            </div></div><!--//newspaper-->
        </div>
        </div>
        </div>
        </div><!--//container-->
  </section><!--//how-->
