    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">UCB<span class="highlight"> AIChE</span></h2>
            <p class="intro">A chapter of the American Institute of Chemical Engineers dedicated to enhancing the experience of Chemical Engineering students at the University of California, Berkeley. </p>
            
            <a class="btn btn-cta-secondary" href="http://goo.gl/forms/yV518TKG7k" target="_blank"> Subscribe to Newsletter </a> <br> <br> 
            
            
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="facebook-like">
                         <div class="fb-like" data-href="http://aiche.berkeley.edu" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->
                    
                    
                </ul>
            </div>
        </div>
    </section><!--//promo-->
